<h1>Sample App</h1>
<p>This is the sample app homepage! Woo hoo <br />
And this is <a href="http://smileymail.netai.net"> the Smiley Mail homepage </a></p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
